{% extends "base.html" %}
{% load static %}


{% block title %}
    CRM_48 - Tables
{% endblock %}


{% block custom_page %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Лиды</h1>
                            <!-- Add_lead button -->
                                <a href="{% url 'crm:add_lead' %}" class="btn btn-primary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Добавить Лид</span>
                                </a>
                            <!-- END Add_lead button -->
                        </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Телефон</th>
                                            <th>Второй телефонr</th>
                                            <th>e-mail</th>
                                            <th>VK</th>
                                            <th>Telegramm</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>first_name</th>
                                            <th>last_name</th>
                                            <th>phoneNumber</th>
                                            <th>secondPhoneNumber</th>
                                            <th>mail</th>
                                            <th>VK</th>
                                            <th>TG</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for lead in leads %}
                                        <tr>
                                            <td>{{ lead.id }}</td>
                                            <td><a href="{% url 'crm:lead_card' id=lead.id %}">{{ lead.first_name }}</a></td>
                                            <td><a href="{% url 'crm:lead_card' id=lead.id %}">{{ lead.last_name }}</a></td>
                                            <td>{{ lead.phoneNumber }}</td>
                                            <td>{{ lead.secondPhoneNumber }}</td>
                                            <td>{{ lead.mail }}</td>
                                            <td>{{ lead.VK }}</td>
                                            <td>{{ lead.TG }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}


{% block additional_plugins %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock %}

